* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-image: linear-gradient(to right, #7382b8, white);
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
  }

  /* Navbar */
  .navbar {
    font-size: 23px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.04);
    /* padding: 18px 50px; */
  }

  .navbar .container-md .logout {
    font-size: 20px;
    border-radius: 50px;
    padding: 10px 20px;
    background: none;
    border: 2px solid white;
    color: #ffff;
    text-decoration: none;
  }

  .navbar .container-md .logout:hover {
    background: #ffff;
    border: 2px solid white;
    color: #334257;
    transition: 0.9s;
  }

  .collapse .navbar-nav .nav-item {
    padding: 0 40px;
  }

  /* timeline */
  .timeline {
    min-height: 100vh;
    color: white;
  }

  .timeline .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 100px;
  }

  .timeline .container .timelineItem {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 100px;
  }

  .timeline .container .timelineItem .timelineImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
  }

  .timeline .container .timelineItem .timelineDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 2;
  }

  .timeline .container .timelineItem .timelineDesc h1 {
    font-size: 32px;
    font-weight: 600;
  }

  .timeline .container .timelineItem .timelineDesc p {
    font-weight: 400;
    font-size: 24px;
  }

  .timeline .container .timelineItem .timelineLink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .timeline .container .timelineItem .timelineLink a button {
    border: 2px solid #7382b8;
    background-color: #7382b8;
    padding: 10px 40px;
    border-radius: 15px;
    color: white;
    font-size: 24px;
    transition: 0.3s;
    font-weight: 500;
  }

  .timeline .container .timelineItem .timelineLink a button:hover {
    background: none;
    border: 2px solid #7382b8;
    color: #7382b8;
    font-size: 24px;
    transition: 0.3s;
  }
